Q1. Create one variable containing following type of data:

In [2]:
#string
string="Hey dear!"

#list
list=[45,5,6,65]

#float
float=452.655

#tuble
tuple=("harsh","om","vikash")

Hey dear!

Q2. Given are some following variables containing data:

In [2]:
#(i)var1=''
var1=''
print(var1)
#var1 is string variable containing an empty space

#(ii) var2 = ‘[ DS , ML , Python]’
var2 = ‘[ DS , ML , Python]’
print(var2)
#invalid character

#(iii) var3 = [ 'DS' , 'ML' , 'Python' ]
var3 = [ 'DS' , 'ML' , 'Python' ]
print(var3)

#(iv) var4 = 1.
var4=1
print(var4)
#this variable containing integer

SyntaxError: invalid character '‘' (U+2018) (2307947620.py, line 7)

Q3. Explain the use of the following operators using an example:

In [5]:
a=10
b=4
#(i) / it divides one number by another number:
result=a/b
print(result)

# (ii) % the modulo operator calculates remainder:
result=a%b
print(result)

# (iii) The "//" operator is known as the floor division operator or integer division operator. It performs division and returns the quotient, discarding the fractional part

result=a//b
print(result)

# (iv) The "**" operator is used for exponentiation or raising a number to a power. It takes two operands: the base and the exponent
result=a**b
print(result)

2.5
2
2
10000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [ ]:
list=[4,9,6,4,'om','Harsh',4.45,(4,'dog',6),5+6j,True]
for element in list:
    print(f"Element: {element} Data Type {type(element)}")

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [2]:
a=80
b=2
count=0
while a%b==0:
    a=a/b
    count+=1
print(f"Can be divisible by {count} times")

Can be divisible by 4 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [51]:
l=[45,55,5,515,4545,5,1,567,62,369,56,5,565,6,65,79,6,5,63,894,78,25,3,26,2]
for num in l:
    if num%3==0:
        print(f"the num  {num}  is divisible by 3 ")
    else:
        print(f"The num  {num }  is not divisible by 3 ")

the num  45  is divisible by 3
The num  55  is not divisible by 3
The num  5  is not divisible by 3
The num  515  is not divisible by 3
the num  4545  is divisible by 3
The num  5  is not divisible by 3
The num  1  is not divisible by 3
the num  567  is divisible by 3
The num  62  is not divisible by 3
the num  369  is divisible by 3
The num  56  is not divisible by 3
The num  5  is not divisible by 3
The num  565  is not divisible by 3
the num  6  is divisible by 3
The num  65  is not divisible by 3
The num  79  is not divisible by 3
the num  6  is divisible by 3
The num  5  is not divisible by 3
the num  63  is divisible by 3
the num  894  is divisible by 3
the num  78  is divisible by 3
The num  25  is not divisible by 3
the num  3  is divisible by 3
The num  26  is not divisible by 3
The num  2  is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [58]:
# Ans: Immutable data types are those whose values cannot be changed after they are created. 
#Any operation on an immutable object creates a new object with the modified value, leaving the original object unchanged

#immutable object
name = "John"
new_name = name.replace('John', 'Jane')
print(name)
#mutable object
numbers = [1, 2, 3]
numbers[0] = 5
numbers.append(4)
print(numbers)

John
[5, 2, 3, 4]